@import "./mixins.scss";

.bx--label {
  @include approval-modal-text;
}

.registration-input {
  margin-bottom: $spacing-05;
}

.bx--modal-content {
  padding-left: 10%;
}

.toastContainer {
  position: absolute;
  top: 0;
  right: 0;
}
