.conf-page__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.buttonArea {
  margin-top: $spacing-02;
}

.bx--table-column-menu {
  width: 50px;
}

.bx--data-table {
  background-color: $ui-03;
}
