@mixin landing-page-background() {
  background-color: $ui-01;
  background-image: url("../../assets/shf-banner.jpg");
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -$spacing-06;
    top: 0;
    right: -$spacing-06;
    bottom: 0;
    background: url("../../assets/shf-banner.jpg");
    z-index: -1;
  }
}
