.confirmationFieldContainer {
  margin-bottom: $spacing-05;
}

.confirmationFieldHeader {
  display: inline-block;
  width: $spacing-06 * 7;
}

.confirmationFieldContent {
  display: inline-block;
  width: 60%;
}
